* {
    padding: 0;
    margin: 0;
}
.header{
    height: 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.logo img{
    margin-left: 20px;
    width: 200px;
    /* height: 150px; */
}

.nav-bar ul{
    margin-top: 10px;
    margin-right: 20px;
    list-style-type: none;
}
.nav-bar ul li{
    display: inline;
    margin: 0px 20px;     
}
.nav-bar ul li a{
    text-decoration: none;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header-img{
    margin: 30px;
    height: 150vh;
    width: auto;
    background-size: cover;
    background-image: url("/img/01.jpg");
    justify-content: center;
    align-items: center;
    
}

.header-img h1{
    /* padding-top: 80vh; */
    font-size: 40px;
    margin: 50px;
    color: white;
    font-weight: bold;
}

.header-text{
    margin: 20px;
    
}
.container-box{

    margin-left: 45px;
    width: 900px;
    height: 80px;
    background-color: rgb(247, 245, 245);
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#input-text{


    justify-items: center;
    margin: 10px 20px;
    width: 700px;
    height: 60px;
    border-radius: 10px;
    padding: 10px;

    font-size: 16px;
}
#btn{
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: rgb(203, 20, 66);

    color: white;
    text-transform: uppercase;
}
#btn:hover{
    transition:all 0.3s;
    background-color: rgb(187, 26, 26);
}


.banner{
    margin: 30px;
    height: 50vh;
    background-size: cover;
    background-image: url("/img/banner.png");
}
#container{
    height: 130vh;
    margin: 30px;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);

}


.col1{
    /* margin: 10px 20px; */
    width: 280px;
    height: 250px;
    background-color: rgb(112, 10, 255);
    background-size: cover;
    background-image: url("/img/ang.jpg");
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.col1 h2{
    margin-top: 32vh;
    text-align:center;
    font-weight: bold;
    color: white;
}
.col1:hover{
    transition: all 0.3s;
    transform: scale(1.1);
    
    
}

.col2{
    /* margin: 10px 20px; */
    width: 280px;
    height: 250px;
    background-color: rgb(112, 10, 255);
    background-size: cover;
    background-image: url("/img/bat.jpg");
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}



.col3{
    /* margin: 10px 20px; */
    width: 280px;
    height: 250px;
    background-color: rgb(112, 10, 255);
    background-size: cover;
    background-image: url("/img/PP.jpg");
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.col4{
    /* margin: 10px 20px; */
    width: 280px;
    height: 250px;
    background-color: rgb(112, 10, 255);
    background-size: cover;
    background-image: url("/img/ang.jpg");
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}



.col2:hover{
    transition: all 0.3s;
    transform: scale(1.1);
}
.col3:hover{
    transition: all 0.3s;
    transform: scale(1.1);
}
.col4:hover{
    transition: all 0.3s;
    transform: scale(1.1);
}

.col2 h2{
    margin-top: 32vh;
    text-align:center;
    font-weight: bold;
    color: white;
}
.col3 h2{
    margin-top: 32vh;
    text-align:center;
    font-weight: bold;
    color: white;
}
.col4 h2{
    margin-top: 32vh;
    text-align:center;
    font-weight: bold;
    color: white;
}



.how-to{
    /* margin-top: 80vh; */
    padding-top: 50px;
    margin: 30px;
    height: 50vh;
    background-color: #e21b70;
    display: flex;
    justify-items: center;
    align-items: center;
}
.download-app{
    color:white;
   padding-top: 10px;
    margin-left: 20px;
}
.download-app h2 {
    font-size: 20px;
}
.download-app p{
    width: 600px;
    font-size: 15px;
}

.android{
    width: 200px;
    cursor: pointer;
}
.ios{
    cursor: pointer;
    width: 200px;
}
.mobile{
    padding-top: 20px;
    width: 580px;
}

.caption{
    margin: 30px;
    margin-top: 18vh;
}

